*.puml linguist-language=PlantUML
*.iuml linguist-language=PlantUML
*.plantuml linguist-language=PlantUML

*.puml linguist-detectable=true
*.iuml linguist-detectable=true
*.plantuml linguist-detectable=true
*.md linguist-detectable=false

*.sql linguist-detectable=true
*.sql linguist-language=SQL